@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
    background-image:url( '../images/seamless-background-image-tile.jpg');
    padding: 1.5em;
    margin-right: auto;
    margin-left: auto;
    background-color: #FAEBD7; 
    color: #006699;
    
    
}

header {
    background-color: #e6f9ff;
    padding: 20px;
}

main {
      background-color: #e6f9ff;
     padding: 20px;
}

h1 {
    font-family: lobster; 
    color: #003366;
    font-size: 36px;
    text-align: left;

}
h2 {
    font-family: lobster;
    color: #003366;
    font-size: 28px;
    text-align: left;
    
}
h3 {
    font-family: lobster;
    color: #003366;
    font-size: 1.125em;
    text-align: left;
        
    
}

li {
    font-family: sans-serif;
    
}
